<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hindu.cunow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGEd" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CUNow"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activity.ReportPostActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ShowUsersActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CirclePermissionActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AddMembersActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CircleDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.UserSupportActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ViewFullActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.UserDetailsTabsAcitvity"
            android:exported="false" />
        <activity
            android:name=".Activity.AddVibesAcitvity"
            android:exported="false" />
        <activity
            android:name=".Activity.PrivacySettingsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AboutMeTabsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CircleFlowActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.VerificationRequest"
            android:exported="false" />
        <activity
            android:name=".Activity.VibesActivity"
            android:exported="false" />
        <activity
            android:name=".Fragments.Circle.CircleTabActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.FindSupportOnPostAcitvity"
            android:exported="false" />
        <activity
            android:name=".Activity.TermsAndCondition"
            android:exported="false" />
        <activity
            android:name=".Activity.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AboutUs"
            android:exported="false" />
        <activity
            android:name=".Activity.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CreateCircle"
            android:exported="false" />
        <activity
            android:name=".Activity.AddConfessionActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/camera" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/red" />

        <activity
            android:name=".Activity.VideoUploadActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AddPostActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Verify"
            android:exported="false" />
        <activity
            android:name=".Activity.VerifyActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activity.SignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activity.LogInActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".PushNotification.FirebaseMessaging"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>